body {
    background-color: #fff;
}

header {
    height: 60px;
    width: 100% ;
}
nav {
    
    height: 60px;
    width: 100%;
    background-color: rgb(10, 10, 50);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.right_side {
    color: white;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
    height: 50px;
    width: 50%;
    /* background-color: red; */
    text-align: center;
    display: flex;
    margin-right: 700px;
    /* margin-right: 25px; */
    /* -webkit-text-stroke: 1.5px rgb(12, 72, 236); //stroke */
    
}

.left_side {
    height: 50px;
    width: 100%;
    /* background-color: rgb(242, 236, 236); */
    font-size: 18px ;
 
}

a {
    text-decoration:  none;
    color: white;
   
    
    /* margin-right: 50px; */
    
}


ul {
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


li {
    list-style-type: none;
  
}

a:hover {
    color:aqua;
    text-decoration: underline;
    /* transform: scalex(2); */
    /* scale: 2; */
}

hr {
    width: 75%;
}

.contact {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

.all-handles {
    height: 500px;
    width: 270px;
    /* background-color: rgb(159, 136, 136); */
    margin-left: 200px;

}

.facebook {
    font-size: 30px;
    padding-left: 5px;
    margin-top: 20px;
    color: blue;

}

.instagram {
    font-size: 30px;
    margin-top: 20px;
    color: #d6249f;

}

.telegram {

    font-size: 30px;
    margin-top: 20px;
    color: blue;

}

.whatsapp {
    font-size: 30px;
    margin-top: 20px;
    color: green;

}

.linkedin {
    font-size: 30px;
    margin-top: 20px;
    color: blue;
}

#logo:hover {
    cursor: pointer;
}